/* Stile generale della card */
.card {
    width: 40vw; /* Larghezza della card */
    height: 90vh; /* Altezza della card */
    perspective: 1500px; /* Imposta la prospettiva per l'effetto 3D */
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease; /* Transizione dolce per hover */
}

/* Media Query per tablet */
@media (max-width: 1024px) {
    .card {
        width: 30vw; /* Larghezza per tablet */
        height: 70vh; /* Altezza per tablet */
    }
}

/* Media Query per mobile */
@media (max-width: 768px) {
    .card {
        width: 90vw; /* Larghezza per mobile */
        height: 50vh; /* Altezza per mobile */
    }
}

.cardInner {
    position: absolute;
    top: 10%;
    left: 17%;
    width: 65%;
    height: 80%;
    margin-left: 0;
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite;
    z-index: 1;
}

/* Parte frontale della card */
.cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border-radius: 15px;
    box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.1),
                inset 0 -4px 6px rgba(0, 0, 0, 0.4);
    background: linear-gradient(145deg, rgba(44, 44, 44, 0.9), #000000f2, rgba(61, 61, 61, 1)),
                linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, transparent 75%, transparent 100%);
    background-blend-mode: overlay;
    background-size: 1px 1px;
    color: white;
    animation: metalShine 2s infinite alternate;
}

/* Parte frontale con dettagli */
.frontContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

/* Titolo con stile tipografico */
.cardTitle {
    font-size: 28px; /* Grandezza del titolo per desktop */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: auto;
    color: #cccccc; /* Colore di base grigio chiaro */
    background: linear-gradient(135deg, #ffffff 30%, #cccccc 50%, #999999 70%); /* Gradiente per effetto metallico */
    -webkit-background-clip: text; /* Clip del background per mostrare solo il testo */
    background-clip: text; /* Clip del background per mostrare solo il testo */
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5)); /* Ombra esterna per profondità */
    position: relative; /* Posizionamento relativo per il riflesso */
    overflow: hidden; /* Nasconde il contenuto che esce */
    transition: transform 0.3s, color 0.3s; /* Transizioni per hover */
    text-align: center;
    margin-top: auto;
}

/* Hover effetto per il titolo */
.card:hover .cardTitle {
    transform: scale(1.05); /* Ingrandisce il titolo al passaggio del mouse */
    color: #ffffff; /* Colore del testo al passaggio del mouse */
}

/* Effetto riflesso */
.cardTitle::after {
    content: attr(data-reflection); /* Usa il contenuto del titolo come riflesso */
    position: absolute;
    left: 0;
    top: 100%; /* Posiziona sotto il titolo */
    transform: scaleY(-1); /* Inverte verticalmente per l'effetto riflesso */
    color: rgba(255, 255, 255, 0.3); /* Colore del riflesso (bianco traslucido) */
    text-shadow: none; /* Rimuove l'ombra dal riflesso */
    opacity: 0.5; /* Maggiore trasparenza per l'effetto di riflesso */
    filter: blur(2px); /* Aggiunge un effetto di sfocatura al riflesso */
    white-space: nowrap; /* Impedisce il wrapping del testo */
}

/* Frase VIP Pass */
.vipPass {
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #cccccc; /* Colore di base grigio chiaro */
    background: linear-gradient(135deg, #ffffff 30%, #cccccc 50%, #999999 70%); /* Gradiente per effetto metallico */
    -webkit-background-clip: text; /* Clip del background per mostrare solo il testo */
    background-clip: text; /* Clip del background per mostrare solo il testo */
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5)); /* Ombra esterna per profondità */
    position: absolute;
    left: 0;
}

/* Logo in alto a destra */
.logoFront {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: auto;
    filter: grayscale(100%) brightness(150%);
}

/* Nome in basso */
.author {
    position: absolute;
    bottom: 5px;
    font-size: 1rem; /* Dimensione del font per il nome */
}

/* Parte posteriore della card */
.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.1),
                inset 0 -4px 6px rgba(0, 0, 0, 0.4);
    background: linear-gradient(145deg, rgba(44, 44, 44, 0.9), #000000f2, rgba(61, 61, 61, 1)),
                linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, transparent 75%, transparent 100%);
    background-blend-mode: overlay;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

/* Logo grande nella parte posteriore */
.logoBack {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}

/* Codice a barre */
.barcode {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}

/* Tipo della card (es. VIP o altro) */
.type {
    font-size: 1.2rem;
    color: #bbb;
}

/* Black Card */
.cardBlack {
    background-color: #0a0a0a;
    background-image: linear-gradient(145deg, #1c1c1c, #000000);
}

/* Contenitore del piedistallo */
.pedestal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Primo gradino, più grande */
.stepBottom {
    width: 500px;  /* Larghezza del gradino inferiore */
    height: 40px;  /* Altezza del gradino inferiore */
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: radial-gradient(circle at center, #333, #111); /* Gradiente per profondità */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); /* Ombra per effetto rialzato */
    transform: perspective(800px) rotateX(25deg); /* Prospettiva e inclinazione */
    position: absolute;
    bottom: 0;
}

/* Secondo gradino, più piccolo */
.stepTop {
    width: 400px;  /* Larghezza del gradino superiore */
    height: 30px;  /* Altezza del gradino superiore */
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: radial-gradient(circle at center, #555, #222);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transform: perspective(800px) rotateX(25deg);
    position: absolute;
    bottom: 25px; /* Solleva il gradino superiore */
}

/* Animazione di rotazione */
@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

/* Effetto di lucentezza metallica */
@keyframes metalShine {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

/* Stile grafico per il titolo e altri testi */
.cardTitle, .vipPass, .author, .type {
    font-family: 'Arial', sans-serif; /* Font di base */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ombra per profondità */
}

/* Stile per l'illuminazione */
.cardFront:hover, .cardBack:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3); /* Luminosità extra al passaggio del mouse */
    transition: box-shadow 0.3s ease; /* Transizione per l'illuminazione */
}

