.card {
    width: 35vw;
    height: 85vh;
    perspective: 1500px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}

@media (max-width: 1024px) {
    .card {
        width: 30vw;
        height: 70vh;
    }
}

@media (max-width: 768px) {
    .card {
        width: 100vw;
        height: 60vh;
    }
}

.cardInner {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 60%;
    height: 70%;
    margin-left: 0;
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite;
    z-index: 1;
}

.cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border-radius: 15px;
    
    /* Ombre e luci */
    box-shadow: 
        0 8px 12px rgba(0, 0, 0, 0.3), /* Ombra principale */
        inset 0 4px 6px rgba(255, 255, 255, 0.2), /* Luce soffusa dall’alto */
        inset 0 -4px 6px rgba(0, 0, 0, 0.4); /* Ombra interna dal basso */

    /* Sfondo laminato e granulare */
    background: 
        linear-gradient(145deg, rgb(36 36 36), rgb(10 10 10)), 
        radial-gradient(circle at top left, rgba(58, 55, 55, 0.81), transparent 70%), 
        url('https://www.transparenttextures.com/patterns/asfalt-dark.png'); /* Texture per effetto granulare */
    
    background-blend-mode: overlay, screen, normal;
    background-size: cover, 200% 200%, auto;
    color: white;
    transition: transform 0.4s ease-in-out;
}

/* Brillantezza plastificata aggiuntiva */
.cardFront::before, .cardBack::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: radial-gradient(
        circle at top left,
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0) 40%
    );
    mix-blend-mode: overlay;
    pointer-events: none;
}

/* Effetto riflettente lucido */
.cardFront::after, .cardBack::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(
        to top right,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0.2) 30%,
        rgba(255, 255, 255, 0.1) 60%,
        rgba(255, 255, 255, 0.05) 100%
    );
    mix-blend-mode: screen;
    pointer-events: none;
    opacity: 0.8;
}

/* Effetto di lucentezza */
@keyframes metalShine {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

/* Numero seriale */
.serialNumber {
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
    color: #575757;
    margin-top: 5px;
    opacity: 0.8;
}

/* Chip RFID */
.chip {
    width: 35px;
    height: 25px;
    background: linear-gradient(145deg, #d8d8d8, #a5a5a5);
    border-radius: 4px;
    position: absolute;
    top: 5%;
    left: 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Ologramma */
.hologram {
    position: absolute;
    bottom: 15px;
    left: 20px;
    width: 40px;
    height: 40px;
    opacity: 0.6;
}

.cardFrontVip, .cardBackVip {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border-radius: 15px;
    
    /* Ombre e luci */
    box-shadow: 
        0 8px 12px rgba(0, 0, 0, 0.3), /* Ombra principale */
        inset 0 4px 6px rgba(255, 255, 255, 0.2), /* Luce soffusa dall’alto */
        inset 0 -4px 6px rgba(0, 0, 0, 0.4); /* Ombra interna dal basso */

    /* Sfondo laminato e granulare */
    background: 
        linear-gradient(145deg, rgb(36 36 36), rgb(10 10 10)), 
        radial-gradient(circle at top left, rgba(58, 55, 55, 0.81), transparent 70%), 
        url('https://www.transparenttextures.com/patterns/asfalt-dark.png'); /* Texture per effetto granulare */
    
    background-blend-mode: overlay, screen, normal;
    background-size: cover, 200% 200%, auto;
    color: white;
    transition: transform 0.4s ease-in-out;
}

.frontContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.cardTitle {
    font-size: 20px; 
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: auto;
    color: #cccccc;
    background: linear-gradient(135deg, #ffffff 30%, #cccccc 50%, #999999 70%); 
    -webkit-background-clip: text; 
    background-clip: text; 
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
    position: relative; 
    overflow: hidden;
    transition: transform 0.3s, color 0.3s;
    text-align: center;
    margin-top: auto;
}

.cardTitle::after {
    content: attr(data-reflection);
    position: absolute;
    left: 0;
    top: 100%;
    transform: scaleY(-1);
    color: rgba(255, 255, 255, 0.3);
    text-shadow: none;
    opacity: 0.5; 
    filter: blur(2px);
    white-space: nowrap;
}

.vipPass {
    font-size: 8px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #575757;
    background: linear-gradient(135deg, #ffffff 30%, #cccccc 50%, #999999 70%);
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
    position: absolute;
    left: 0;
    text-transform: uppercase;
}

/* Logo in alto a destra */
.logoFront {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: auto;
    filter: grayscale(100%) brightness(150%);
}

.author {
    text-align: center;
    bottom: 5px;
    font-size: 1rem;
}

.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.1),
                inset 0 -4px 6px rgba(0, 0, 0, 0.4);
    background: linear-gradient(145deg, rgba(44, 44, 44, 0.9), #000000f2, rgba(61, 61, 61, 1)),
                linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, transparent 75%, transparent 100%);
    background-blend-mode: overlay;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.cardBackVip {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.1),
                inset 0 -4px 6px rgba(0, 0, 0, 0.4);
    background: linear-gradient(145deg, rgba(44, 44, 44, 0.9), #000000f2, rgba(61, 61, 61, 1)),
                linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, transparent 75%, transparent 100%);
    background-blend-mode: overlay;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.logoBack {
    width: 45px;
    height: auto;
    margin-bottom: 20px;
}

.barcode {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.type {
    color: #bbb;
    margin-top: 1rem;
    font-size: 8px;
    letter-spacing: 2px;
    color: #575757;
    background: linear-gradient(135deg, #ffffff 30%, #cccccc 50%, #999999 70%);
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
    text-transform: uppercase;
}

.cardBlack {
    background-color: #0a0a0a;
    background-image: linear-gradient(145deg, #1c1c1c, #000000);
}

.pedestal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.stepBottomVip {
    width: 100%;
    height: 40px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    bottom: 0;/* Ombre e luci */
    box-shadow: 
        0 8px 12px rgba(0, 0, 0, 0.3), /* Ombra principale */
        inset 0 4px 6px rgba(255, 255, 255, 0.2), /* Luce soffusa dall’alto */
        inset 0 -4px 6px rgba(0, 0, 0, 0.4); /* Ombra interna dal basso */

    /* Sfondo laminato e granulare */
    background: 
        linear-gradient(145deg, rgb(36 36 36), rgb(10 10 10)), 
        radial-gradient(circle at top left, rgba(58, 55, 55, 0.81), transparent 70%), 
        url('https://www.transparenttextures.com/patterns/asfalt-dark.png'); /* Texture per effetto granulare */
    background-blend-mode: overlay;
    transform: perspective(800px) rotateX(20deg);
} 

.stepTopVip {
    width: 80%;
    height: 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    bottom: 25px;
    /* Ombre e luci */
    box-shadow: 
        0 8px 12px rgba(0, 0, 0, 0.3), /* Ombra principale */
        inset 0 4px 6px rgba(255, 255, 255, 0.2), /* Luce soffusa dall’alto */
        inset 0 -4px 6px rgba(0, 0, 0, 0.4); /* Ombra interna dal basso */

    /* Sfondo laminato e granulare */
    background: 
        linear-gradient(145deg, rgb(36 36 36), rgb(10 10 10)), 
        radial-gradient(circle at top left, rgba(58, 55, 55, 0.81), transparent 70%), 
        url('https://www.transparenttextures.com/patterns/asfalt-dark.png'); /* Texture per effetto granulare */
    background-blend-mode: overlay;
    transform: perspective(800px) rotateX(20deg);
}

.stepBottom {
    width: 100%;
    height: 40px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    bottom: 0;/* Ombre e luci */
    box-shadow: 
        0 8px 12px rgba(0, 0, 0, 0.3), /* Ombra principale */
        inset 0 4px 6px rgba(255, 255, 255, 0.2), /* Luce soffusa dall’alto */
        inset 0 -4px 6px rgba(0, 0, 0, 0.4); /* Ombra interna dal basso */

    /* Sfondo laminato e granulare */
    background: 
        linear-gradient(145deg, rgb(36 36 36), rgb(10 10 10)), 
        radial-gradient(circle at top left, rgba(58, 55, 55, 0.81), transparent 70%), 
        url('https://www.transparenttextures.com/patterns/asfalt-dark.png'); /* Texture per effetto granulare */
    background-blend-mode: overlay;
    transform: perspective(800px) rotateX(20deg);
}

.stepTop {
    width: 80%;
    height: 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    bottom: 25px;
    /* Ombre e luci */
    box-shadow: 
        0 8px 12px rgba(0, 0, 0, 0.3), /* Ombra principale */
        inset 0 4px 6px rgba(255, 255, 255, 0.2), /* Luce soffusa dall’alto */
        inset 0 -4px 6px rgba(0, 0, 0, 0.4); /* Ombra interna dal basso */

    /* Sfondo laminato e granulare */
    background: 
        linear-gradient(145deg, rgb(36 36 36), rgb(10 10 10)), 
        radial-gradient(circle at top left, rgba(58, 55, 55, 0.81), transparent 70%), 
        url('https://www.transparenttextures.com/patterns/asfalt-dark.png'); /* Texture per effetto granulare */
    background-blend-mode: overlay;
    transform: perspective(800px) rotateX(20deg);
}


@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes metalShine {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.cardTitle, .vipPass, .author, .type {
    font-family: 'Arial', sans-serif;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.author{
    color: #bbb;
    margin-top: 1rem;
    font-size: 6px;
    letter-spacing: 2px;
    color: #575757;
    background: linear-gradient(135deg, #ffffff 30%, #cccccc 50%, #999999 70%);
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
    text-transform: uppercase;
}

