.card {
    width: 40vw;
    height: 90vh;
    perspective: 1500px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}

@media (max-width: 1024px) {
    .card {
        width: 30vw;
        height: 70vh;
    }
}

@media (max-width: 768px) {
    .card {
        width: 100vw;
        height: 60vh;
    }
}

.cardInner {
    position: absolute;
    top: 10%;
    left: 17%;
    width: 65%;
    height: 80%;
    margin-left: 0;
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite;
    z-index: 1;
}

.cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border-radius: 15px;
    box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.1),
                inset 0 -4px 6px rgba(0, 0, 0, 0.4);
    background: linear-gradient(145deg, rgba(44, 44, 44, 0.9), #000000f2, rgba(61, 61, 61, 1)),
                linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, transparent 75%, transparent 100%);
    background-blend-mode: overlay;
    background-size: 1px 1px;
    color: white;
    animation: metalShine 2s infinite alternate;
}

.cardFrontVip, .cardBackVip {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border-radius: 15px;

    box-shadow: inset 0 4px 6px rgba(255, 215, 0, 0.1), /* Ombra chiara dorata */
                inset 0 -4px 6px rgba(218, 165, 32, 0.4); /* Ombra scura dorata */
    background: linear-gradient(145deg, rgba(255, 215, 0, 0.9), rgba(218, 165, 32, 1), rgba(184, 134, 11, 1)),
                linear-gradient(135deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, transparent 75%, transparent 100%);
    
    background-blend-mode: overlay;
    background-size: 1px 1px;
    color: white;
    animation: metalShine 2s infinite alternate;
}

.frontContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.cardTitle {
    font-size: 28px; 
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: auto;
    color: #cccccc;
    background: linear-gradient(135deg, #ffffff 30%, #cccccc 50%, #999999 70%); 
    -webkit-background-clip: text; 
    background-clip: text; 
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
    position: relative; 
    overflow: hidden;
    transition: transform 0.3s, color 0.3s;
    text-align: center;
    margin-top: auto;
}

.card:hover .cardTitle {
    transform: scale(1.05);
    color: #ffffff;
}

.cardTitle::after {
    content: attr(data-reflection);
    position: absolute;
    left: 0;
    top: 100%;
    transform: scaleY(-1);
    color: rgba(255, 255, 255, 0.3);
    text-shadow: none;
    opacity: 0.5; 
    filter: blur(2px);
    white-space: nowrap;
}

.vipPass {
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #cccccc;
    background: linear-gradient(135deg, #ffffff 30%, #cccccc 50%, #999999 70%);
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
    position: absolute;
    left: 0;
}

/* Logo in alto a destra */
.logoFront {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: auto;
    filter: grayscale(100%) brightness(150%);
}

.author {
    position: absolute;
    bottom: 5px;
    font-size: 1rem;
}

.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.1),
                inset 0 -4px 6px rgba(0, 0, 0, 0.4);
    background: linear-gradient(145deg, rgba(44, 44, 44, 0.9), #000000f2, rgba(61, 61, 61, 1)),
                linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, transparent 75%, transparent 100%);
    background-blend-mode: overlay;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.cardBackVip {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 0 4px 6px rgba(255, 215, 0, 0.1), /* Ombra chiara dorata */
                inset 0 -4px 6px rgba(218, 165, 32, 0.4); /* Ombra scura dorata */
    background: linear-gradient(145deg, rgba(255, 215, 0, 0.9), rgba(218, 165, 32, 1), rgba(184, 134, 11, 1)),
                linear-gradient(135deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, transparent 75%, transparent 100%);
    background-blend-mode: overlay;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.logoBack {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}

.barcode {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.type {
    font-size: 1.2rem;
    color: #bbb;
}

.cardBlack {
    background-color: #0a0a0a;
    background-image: linear-gradient(145deg, #1c1c1c, #000000);
}

.pedestal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.stepBottom {
    width: 100%; 
    height: 40px; 
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: linear-gradient(145deg, rgba(255, 215, 0, 0.9), rgba(218, 165, 32, 1), rgba(184, 134, 11, 1)),
                linear-gradient(135deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, transparent 75%, transparent 100%);
    background-blend-mode: overlay;
    box-shadow: inset 0 4px 6px rgba(255, 215, 0, 0.1), inset 0 -4px 6px rgba(218, 165, 32, 0.4),
                0px 5px 15px rgba(0, 0, 0, 0.5); /* Ombra esterna */
    transform: perspective(800px) rotateX(25deg);
    position: absolute;
    bottom: 0;
} 

.stepTop {
    width: 80%; 
    height: 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: linear-gradient(145deg, rgba(255, 215, 0, 0.9), rgba(218, 165, 32, 1), rgba(184, 134, 11, 1)),
                linear-gradient(135deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, transparent 75%, transparent 100%);
    background-blend-mode: overlay;
    box-shadow: inset 0 4px 6px rgba(255, 215, 0, 0.1), inset 0 -4px 6px rgba(218, 165, 32, 0.4),
                0px 5px 15px rgba(0, 0, 0, 0.3); /* Ombra esterna */
    transform: perspective(800px) rotateX(25deg);
    position: absolute;
    bottom: 25px;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes metalShine {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.cardTitle, .vipPass, .author, .type {
    font-family: 'Arial', sans-serif;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.cardFront:hover, .cardBack:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
    transition: box-shadow 0.3s ease;
}

